body {
    background-image: url("bakground.jpg");
    color: white;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border-radius: 8px;

    background-color: rgba(29, 29, 29, 0.861);
    outline: 2px solid chocolate;
}

#profile > #pfp {
    border-radius: 360px;
    outline: 3px solid white;
}

#profile > #name {
    font-family: 'Black Ops One', cursive;
    font-size: x-large;
    text-align: center;
}

#profile > #grad {
    margin-top: -8px;

    font-family: 'Black Ops One', cursive;
    font-size: medium;
    text-align: center;
}


#about_some {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin-left: 15px;
    border-radius: 8px;
    width: 500px;

    background-color: rgba(29, 29, 29, 0.861);
    outline: 2px solid chocolate;
}

#about_some > #about {
    padding: 4px;

    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.797);
    outline: 2px solid chocolate;
    border-radius: 5px;
    text-align: justify;
}

#about_some > h3 {
    font-family: 'Black Ops One', cursive;
    font-weight: 100;
    margin: 3px;
    font-size: larger;
}

#about_some .pad {
    padding: 5px;
}

#profile .links{
    width: 96px;
    height: 96px;
    border-radius: 8px;
    margin: 8px;
    justify-content: center;
    vertical-align: middle;
    background-color: chocolate;
    border: none;
    outline: 2px solid whitesmoke;
}

#hub >img {
    width: 72px;
}

#ding >img {
    width: 72px;
}